<div class="footer footer-inner">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="wrap">
					<div class="copy">@T["© 2018 РН Банк. Корпоративный портал сотрудников банка."]</div>
				</div>
			</div>
		</div>
	</div>
</div>