

<div class="aside-box birthday-box">
	<div class="aside-title title">Ближайшие дни рождения</div>
	<ul class="list">
		<li>
			<div class="img"><a href=""><img src="~/AdamCode.NoticeBoard.Theme/img/face.png" alt=""></a></div>
			<div class="tt">
				<div class="date">26 марта</div>
				<div class="name"><a href="">Анна Ефремова</a></div>
				<div class="fah">Дизайнер</div>
			</div>
		</li>
		<li>
			<div class="img"><a href=""><img src="~/AdamCode.NoticeBoard.Theme/img/face.png" alt=""></a></div>
			<div class="tt">
				<div class="date">26 марта</div>
				<div class="name"><a href="">Анна Ефремова</a></div>
				<div class="fah">Дизайнер</div>
			</div>
		</li>
	</ul>
	<a href="" class="more-link">Показать больше</a>
</div>